/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Map Styles */
#map {
    height: 80vh; /* 80% of viewport height */
    width: 100%;
}

/* Navbar Styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar-brand {
    font-weight: bold;
}

.form-control {
    width: 200px;
    margin-left: 10px;
}

/* Modal Styles */
.modal-header {
    background-color: #333;
    color: #fff;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    padding: 20px;
}

/* Add custom styles for country data display */
.country-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-item {
    width: 48%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data-item h4 {
    margin-top: 0;
}

.data-item p {
    margin-bottom: 0;
}